rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // السماح بالقراءة والكتابة الكاملة لجميع المجموعات والبيانات
    // لتمكين الأدمن من رؤية وإدارة كافة الطلبات والمنتجات والأقسام والإعدادات بكل مرونة
    match /{document=**} {
      allow read, write: if true;
    }

  }
}
